:root {
  --primary: #3a3636;
  --secondary: #ccc;
  --border: #dddbdb;
  --background: #f3f3f3;
} 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(238, 226, 226);
  font-size: 1.4rem;
}

i {
  cursor: pointer;
  color: rgb(5, 29, 2);
}

section {
  background-color: #fff;
  width: 50%;
  min-width: 300px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  border-bottom: 1px solid gray;
  padding: 1.2rem 1.5rem;
  color: black;
  justify-content: space-between;
}

form button {
  background-color: transparent;
  border: none;
  padding: 0.6rem;
}

form button i {
  transform: rotate(90deg);
  font-size: 1rem;
  font-weight: 400;
}

.header i {
  transform: rotate(90deg);
  font-size: 18px;
}

form > div {
  border-bottom: 1px solid grey;
  padding: 0.7rem 1.5rem;
  justify-content: space-between;
  width: 100%;
}

form input {
  border: none;
  outline: none;
  min-width: 250px;
  padding: 0.8rem 0;
  flex: 1;
}

form input,
form input::-webkit-input-placeholder {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 100;
  color: #838282;
}

.tasks-list {
  min-width: 100%;
}

.tasks-list li {
  width: 100%;
  list-style: none;
  border-bottom: 1px solid grey;
  padding: 0.7rem 1.2rem;
}

.task-container button i {
  font-size: 1.2rem;
}

.tasks-list li label {
  margin-left: 6px;
  font-size: inherit;
  color: black;
  cursor: pointer;
}

.tasks-list li i:hover {
  color:rgb(5, 29, 2);
  cursor: pointer;
}

.clear-btn button {
  width: 100%;
  font-size: inherit;
  padding: 1.2rem;
  border: none;
  outline: none;
  color: rgba(44, 1, 1, 0.877);
  background-color: rgba(61, 48, 48, 0.37);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.task-container .task-details {
  flex: 1;
  display: flex;
  padding: 0 1rem;
}

.task-container .task-details span {
  margin-left: 6px;
  font-size: inherit;
  color: black;
}

.task-container .task-details span.compeleted {
  text-decoration: line-through;
}

.task-container .task-details input {
  border: none;
  font-size: inherit;
  color: black;
  outline: none;
  flex: 1;
  display: none;
  background-color: transparent;
}

.task-container .task-action-btns button {
  width: 2.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.3rem 0;
}

.task-container .task-action-btns button i {
  padding: 0.6rem;
}

.task-container .task-action-btns button:last-child {
  display: none;
}

.edit-task-form {
  flex: 1;
  display: flex;
}

.task-container.edit-mode {
  background-color: #faf3db;
}

.task-container.edit-mode .task-action-btns button:last-child {
  display: block;
}

.task-details.completed span {
  text-decoration: line-through;
}

.task-container.edit-mode .task-action-btns button:first-child {
  display: none;
}

.task-container.edit-mode .task-details input {
  display: block;
}

.task-container.edit-mode .task-details span {
  display: none;
}
