* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #faebd7;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 30%;
  border: 1px solid grey;
  background-color: whitesmoke;
  box-shadow: 2px 5px grey;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.inputContainer {
  display: flex;
}

.header {
  font-size: 18px;
}

.fa-sync-alt {
  font-size: small;
  align-items: baseline;
}

.fa-plus-circle {
  font-size: 22px;
}

.inputTask {
  padding: 15px 10px 10px 10px;
  border: none;
  width: 100%;
}

.addTaskBtn {
  padding-right: 11px;
  border: none;
  background-color: white;
}

.clearBTN {
  padding: 20px 0;
  border: none;
}

.displayTdl {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.tdldisplayContainer {
  display: flex;
  gap: 10px;
  padding: 17px 9px;
}

#delete {
  padding: 20px;
}
